@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /**
   *
   *
   *
   * DELAY VARIABLE
   */
  --delay-very-fast: 0.2s;
  --delay-fast: 0.3s;
  --delay-slow: 0.5s;
  --delay-very-slow: 0.7s;
}